<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading ic-header">
            <div class="row">
                    <p class="col-md-10 ic-header-text"><%= jsonItem.name %></p>
                <p class="text-right col-md-2"><%= jsonItem.cost %></p>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <img src="<%= jsonItem.image %>" class = "ic-image">
            </div>
            <div class="ic-description-text"><%= jsonItem.description %></div>
        </div>
        <div class="panel-footer">
            <!--<a href="/<#%= table %>/<#%= jsonItem.type %>/<#%= jsonItem.id %>" class="btn btn-info" role="button">view</a>-->
            <a href="/id/<%= jsonItem.id %>" class="btn btn-info" role="button">view</a>
        </div>
    </div>
</div>
