<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <h3 class="col-md-6"><%= jsonItem.name %></h3>
                <h3 class="text-right col-md-6"><%= jsonItem.cost %></h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <img src="<%= jsonItem.image %>" class = "ic-image">
            </div>
            <%= jsonItem.description %>
        </div>
        <div class="panel-footer">
            <div class="row">
                <script>
                    var id = "<%= jsonItem.id %>"
                    console.log("id = " + id);
                </script>
                <% console.log('profile' + profile) %>
                <% if(!profile){ %>
                    <a href="/add_to_cart/<%= jsonItem.id %>" class="btn btn-info col-md-2 col-md-offset-1" role="button">Add to cart</a>
                <% } %>
            </div>
        </div>
    </div>
</div>